[2012-11-28 20:12] piyushk opened #1 "Kinect driver not running reliably on the segbot"
The segbot laptops have USB 3.0 only, which is not supported by the libfreenect based drivers (see https://github.com/piyushk/freenect_stack/issues/5). For the time being, the segbot code has reverted back to using patched openni ones.

The segbots currently run openni drivers after modifications suggested by the following threads:
http://answers.ros.org/question/9179/kinect-and-usb-30/
http://ans

[2012-11-28 20:26] piyushk opened #2 "Segbot drivers need to publish diagnostic messages"
The following should publish diagnostic messages
segway_rmpX
openni_camera (or whatever kinect driver alternative we use)

[2012-11-28 20:32] piyushk opened #3 "Separation of bwi code from core segbot code"
1) Create a separate segbot stack on github. Move code from the pharos_segbot stack to this github stack
2) Some of the simulation code for the segbot is in bwi_gazebo and bwi_gazebo_plugins. This should be moved out to the segbot stack. These pieces of code should use some of the default worlds like empty, or the willow garage maps.

[2012-11-28 20:35] piyushk opened #4 "Merge segway-rmp-ros-pkg with remote master"
Our fork of the segway-rmp-ros-pkg https://github.com/piyushk/segway-rmp-ros-pkg and https://github.com/piyushk/libsegwayrmp have diverged from the original ROS package from wjwwood. Try to figure out a way to merge code upstream, as well as potentially releasing it as a deb.

[2012-11-28 20:37] piyushk opened #5 "Add max speed limitation parameters to segway_rmp_node"
This is extremely essential, as controllers may be giving too high a velocity to the driver. The segway is capable of going up to about 1.8 m/s. It should not be exceeding 1 m/s in an indoor setting.

[2012-11-28 21:00] piyushk opened #6 "Improve dwa/navfn/amcl based autonomous navigation"
Autonomous navigation on the segbot works decently well on the real robot and (better) in simulation, but is still not good enough from a demo perspective and needs to be improved. The navigation parameters for dwa/navfn and amcl need to be tuned, as well as the footprint of the robot and costmap inflation parameters need to be tuned.

If Paul successfully adapts the eband local planner, it might

[2012-11-29 23:14] #1 closed, assigned to piyushk

[2012-12-12 18:46] #4 closed, assigned to nobody

[2013-01-06 08:13] #3 closed, assigned to nobody

[2013-05-18 18:43] #5 closed, assigned to piyushk

[2013-05-18 18:44] #6 closed, assigned to jack-oquin

[2014-04-18 17:32] jack-oquin opened #7 "bwi launch scripts probably belong in segbot_apps"

[2014-04-18 17:33] jack-oquin opened #8 "bwi launch scripts probably belong in segbot_apps"

[2014-04-18 17:34] #8 closed, assigned to nobody

[2014-04-18 17:43] #7 closed, assigned to nobody

[2014-05-12 16:15] piyushk opened #9 "remove dependency on openni-tracker"
openni_tracker is no longer maintained and broken on Raring. I would recommend removing this dependency.

[2014-05-12 18:40] piyushk opened #10 "why does bwi depend on bwi-desktop and bwi-desktop-full"
There seems to be some redundancy here.

[2014-05-14 16:15] #10 closed, assigned to nobody

[2014-05-14 16:15] #9 closed, assigned to nobody

[2014-06-27 20:10] jack-oquin opened #11 "calculon: laptop moved to a different body (bender)"
Need to move it back to segbot9.

[2014-06-27 20:12] jack-oquin opened #12 "calculon (segbot9): base not moving"
Does not react to /cmd_vel command after multiple restarts and with several different workspace contents.

To reproduce:
[code]

[2015-03-09 16:00] jack-oquin opened #13 "indigo: need to release some ROS package dependencies"
To get our Hydro source tree working on Indigo, we need Indigo releases of:

- [x] eband_local_planner
- [x] libsegwayrmp
- [x] segway_rmp

As a work-around, those repositories can be added to everyone's source workspace.

[2015-03-12 18:35] jack-oquin opened #15 "bwi_planning_common: still depends on opencv2, not supported for Indigo"
I'll change the reference to use cv_bridge.

[2015-03-12 18:49] jack-oquin commented on #15
This should have been opened for bwi_common, not this repository.

At any rate, it's fixed now in utexas-bwi/bwi_common

[2015-03-12 18:49] #15 closed

[2015-03-12 18:55] jack-oquin opened #16 "bwi_launch: roslaunch check failing"

[2015-03-12 19:55] jack-oquin commented on #16
@piyushk: I am having trouble figuring out what to do with the various ``bwi_kr_execution`` references.

[2015-03-12 20:36] piyushk commented on #16
@jack-oquin I can take a look at this issue. I'm not exactly sure what you meant by your last commit though.

[2015-03-12 20:44] jack-oquin commented on #16
There are launch files in bwi_launch that reference objects in bwi_kr_execution. I added the missing dependency on that package, but the roslaunch check still fails. Not sure what's going on.

[2015-03-12 20:50] jack-oquin commented on #16
I only defined the dependency as an exec_depend, I think it needs either a build_depend or test_depend for the launch check to work. I'll try that.

[2015-03-12 20:57] jack-oquin commented on #16
That did not help. Somehow the reference is not getting resolved.

[2015-03-12 21:02] jack-oquin commented on #16
Maybe it's because bwi_kr_execution is failing to build.

See: utexas-bwi/bwi_common#15

[2015-03-12 21:23] jack-oquin commented on #16
@piyushk: the first commit fixed a bunch of references to segbot_apps instead of segbot_navigation, and so forth.

The formatting of some launch files was rather messed up. I found it necessary to eliminate hundreds of trailing blanks from many lines. Unfortunately, that obscured the actual changes. I should have split them into two commits. Sorry.

[2015-03-12 22:11] jack-oquin opened #17 "bwi_desktop: remove dependency on bwi_planning"

[2015-03-12 22:12] jack-oquin commented on #17
also clasp

[2015-03-12 22:42] #17 closed

[2015-03-13 04:33] #16 closed

[2015-03-14 17:22] jack-oquin commented on #12
This problem seems to have been resolved at some time.

[2015-03-14 17:22] #12 closed

[2015-03-14 17:23] #11 closed

[2015-03-25 05:24] piyushk opened #18 "rosemacs-el and python-catkin-tools missing for fedora."
The bloom-release process threw up the following error:
[code]

I've proceeded with the release but skipped the generation action for heisenbug (fedora). We'll likely see this warning every time. Alternatives are:
 - Skip the fedora release every time.
 - Remove these extra packages from the manifest.

@jack-oquin: What do you think?

[2015-03-25 13:39] jack-oquin commented on #18
I would just delete ``rosemacs-el``, because that name changed incompatibly for Indigo, anyway.

We currently have no requirement to support our code on Fedora, but my usual preference is always to make things as portable as is reasonably possible. I'd think they will need ``python-catkin-tools`` there, too. So, maybe we should just ask Scott to add the appropriate definition. I'll ask on ros-rele

[2015-03-25 22:23] piyushk commented on #13
All downstream repositories released. Closing issue here.

[2015-03-25 22:23] #13 closed

[2015-03-25 22:24] #18 closed

[2015-03-25 22:27] jack-oquin commented on #13
Once all these packages are in the ROS package repositories, we should delete them from ``bwi/rosinstall/indigo.rosinstall``

[2015-03-31 19:06] piyushk opened #19 "Could not resolve rosdep key python-catkin-tools for distro heisenbug"
I've split the relevant portion of #18 into this new separate issue.

[2015-03-31 19:07] piyushk commented on #19
@jack-oquin Could you check with Scott and figure out what the best way is to resolve this issue? I believe we decided that we were not going to drop the catkin-tools dependency.

[2015-03-31 21:26] jack-oquin commented on #19
Yes I will.

[2015-03-31 21:53] jack-oquin commented on #19
@cottsay: what is the recommended procedure for resolving things like this?

Is there a released version of ``python-catkin-tools`` for Fedora? If so, I'll just add the appropriate rosdep. If not, I am unsure how to proceed. We had to skip Heisenbug on our previous release.

[2015-03-31 22:06] cottsay commented on #19
There is. The package is called `python-catkin_tools`.

See: https://admin.fedoraproject.org/pkgdb/package/python-catkin_tools/

Thanks for bringing this up instead of skipping generation again!

--scott

[2015-03-31 22:44] jack-oquin commented on #19
Anskthay, @cottsay!

I'll add the missing rosdep.

[2015-04-02 00:58] jack-oquin commented on #19
Re-released bwi verision 0.3.1 to update the release repository with Heisenbug support, but no new pull request.

Hopefully, the build farm will pick this up and provide Heisenbug binaries for this package.

[2015-04-04 20:36] jack-oquin commented on #19
@cottsay: the release package contains Heisenbug tags now.

How can I verify that it is being packaged correctly?

[2015-04-04 20:39] cottsay commented on #19
We don't have any "devel" jobs or anything like that in Fedora right now, so its hard to test. I'll clone the release repo and give it a spin on the firm quick. First glance says everything looks okay though...

[2015-04-04 20:56] cottsay commented on #19
`x86` and `x86_64` Builds succeeded:
- http://csc.mcs.sdsmt.edu/jenkins/job/ros-indigo-bwi-desktop_sourcerpm/
- http://csc.mcs.sdsmt.edu/jenkins/job/ros-indigo-bwi-desktop-full_sourcerpm/
- http://csc.mcs.sdsmt.edu/jenkins/job/ros-indigo-bwi-launch_sourcerpm/

ARM builds never kicked off because `libsegwayrmp` is failing on ARM [1].

You should be good to release `0.3.1-1` via `rosdistro` now. I'm

[2015-04-18 14:38] jack-oquin opened #20 "roberto: sonar board not working"
It always returns "nothing found".

The one on flexo seems OK.

[2015-04-18 14:42] jack-oquin commented on #20
I can work on this next Wednesday, April 22nd.

[2015-04-21 02:27] maxsvetlik commented on #20
What is the sketch we currently use for arduinos on segbot_v2s? Multidevice.ino?

[2015-04-21 22:19] jack-oquin commented on #20
Yes
On Apr 20, 2015 9:27 PM, "maxsvetlik" <notifications@github.com> wrote:

[2015-04-21 23:04] cottsay commented on #19
@jack-oquin, do you plan to release `0.3.1-1` any time soon? `0.3.1-0` appears to be the newest in `rosdistro`, but `0.3.1-1` is the newest in `bwi-release`...

[2015-04-22 14:44] jack-oquin commented on #19
I didn't realize I was creating a new patch level, and thought the build farm would somehow pick up those changes automatically.

I will go ahead and release 0.3.1-1. Thanks for pointing out my error.

[2015-04-23 18:20] jack-oquin commented on #19
Patch released: ros/rosdistro#8113 and ros/rosdistro#8114

[2015-04-23 18:20] #19 closed

[2015-05-20 18:31] jack-oquin opened #21 "Indigo: intermittent localization problems"
This was observed recently on **flexo**, the only Trusty/Indigo system currently running.

To reproduce:

* run low-level robot navigation: ``roslaunch bwi_launch segbot_v2.launch``
* make sure the particle filter spread is visible in ``rviz``
* assign various x, y navigation goals via ``rviz``

After a while, the particle filter spreads out all over the place.

So far, the root cause is unclear.

[2015-05-20 18:49] jack-oquin opened #22 "Segbot batteries: need endurance tests"
Some of the batteries are getting old and probably need replacement.

On **roberto**, we plan to track the ``/battery0`` topic output to measure the voltage drop over time. The older segbots do not have a voltage meter built in, so we can only measure how long the robot runs until it starts beeping.

Robot batteries to test:

* [x] bender
* [ ] clamps
* [ ] flexo
* [x] marvin
* [x] roberto

cc: @m

[2015-05-20 21:27] shiqizhang6 commented on #22
We've collected a ROS bag file that recorded the battery voltage over 3 hours, more or less. The robot started with a full battery and was turned off when it started beeping.
http://www.cs.utexas.edu/~szhang/tmp/

[2015-05-20 21:38] jack-oquin commented on #22
The data above were collected with **bender**. Since it ran over 3 hours, we believe that battery is working well enough.

[2015-05-21 21:14] shiqizhang6 commented on #22
Jack, I think the voltage data was collected with *Roberto* - the only one that has the voltage meter (at least the laptop on it now is Roberto). I've tested Bender's battery today, and it supported a 2:45 hours run. It did not beep when terminated because I had to leave then.

[2015-05-22 20:27] shiqizhang6 commented on #22
Marvin's battery supported a run of 1:02 hours this afternoon. What was not so good is that the converter and the Segway base started beeping at the same time.

[2015-05-24 16:33] jack-oquin commented on #22
Quite right, it was **roberto**, which is on a segbot2 with a voltage meter.

Sounds like **marvin** needs a new battery.

[2015-05-26 14:50] piyushk commented on #21
@shiqizhang6 and I tracked down the bogus odometry readings to https://github.com/segwayrmp/segway_rmp/issues/25. We get bogus odometry readings only when we run the roslaunch command **before** turning the segway base on. If we turn the segway base on first, it should not happen. A fix for the issue is incoming, but tests should make sure that the segway base on first.

I also talked with @jsinap

[2015-05-26 21:23] jack-oquin commented on #21
I feel sure that the base was already on before running these tests. If I forget: I habitually kill the original roslaunch; turn on the base; then run everything again.

[2015-06-10 20:17] jack-oquin commented on #21
There are many more checksum errors then usual reported on the segway1 base ( **flexo**). It seems that some bogus messages may be getting through without the checksum algorithm detecting them. That could explain occasional large odometry jumps, observed by @piyushk.

[2015-06-10 21:10] piyushk commented on #21
As per William's suggestion in https://github.com/segwayrmp/segway_rmp/issues/26, it's probably best to add an odom filter node to catch these kinds of errors and suppress them.

[2015-07-09 00:59] jack-oquin opened #23 "LDAP: login shell is /bin/sh, should be /bin/bash"
I did some config updates that were supposed to fix this, but bash (and zsh) are not in the list of possible shells for LDAP configuration when creating a new user.

I can login to hypnotoad, but my login shell is ``/bin/sh``. Not good.

cc: @piyushk

[2015-07-09 01:05] jack-oquin commented on #23
I was able to update the shell via phpLDAPadmin, by adding a ``loginShell`` field set to ``/bin/bash``.

It did not work when initially creating the user ID.

[2015-07-09 01:13] jack-oquin commented on #23
I fixed the three actual users already defined: joq, piyushk and bwi.

I'll leave this open until we can create a new user with the proper shell.

[2015-07-09 01:25] jack-oquin opened #24 "LDAP: define user ID's for current BWI staff"
We probably don't need them all any more. The priority should be the summer staff:

* [x] bwi
* [x] fri
* [x] piyushk
* [x] joq
* [x] jsinapov
* [x] szhang
* [x] jthomason
* [x] pkhante
* [x] mleonetti (matish in the list below; we can change that back, if desired)
* [x] max
* [x] yuqianj

The previoius user list retained from Hydro was:
[code]

[2015-07-09 01:27] jack-oquin commented on #24
Yuquan should probably follow standard Unix and Linux practice and define an entirely lower-case user ID.

[2015-07-09 01:30] jack-oquin opened #25 "LDAP: passwd command does not work for LDAP users"

[2015-07-09 01:30] jack-oquin commented on #24
Since I don't know people's passwords and do not at want to define anything guessable, I will initially define them all to use the ``bwi`` password, and ask everyone to change it themselves.

But, see #25.

[2015-07-09 15:22] jack-oquin opened #26 "LDAP: nibbler fails to boot"
Nibbler stopped booting, after a faulty LDAP client configuration. I made one attempt to fix it, but no luck yet.

To get read/write access to the the root filesystem:
 * boot into recovery mode
 * select root shell option
 * gain write access to the filesystem: ``mount -o remount,rw /dev/sda1 /``

[2015-07-09 15:26] jack-oquin opened #27 "LDAP: install and configure client software on lab machines"
Lab Machines:
- [x] hypnotoad
- [x] kif
- [x] nibbler
- [x] wernstrom
- [x] zapp

Robots:
- [x] bender
- [x] clamps
- [x] leela
- [ ] marvin
- [x] pickle (former roberto robot base)
- [x] roberto (laptop saved for Hydro and Precise)

[2015-07-09 15:29] piyushk commented on #27
I've added wernstrom, which likely needs a 14.04 installation as well.

[2015-07-09 15:34] jack-oquin commented on #24
To migrate each user **foo**:

 * Create user **foo** with the same UID in phpLDAPadmin, with group **bwi** or **fri**.
 * For system admin access, add **foo** to the **sudo** and **dialout** LDAP groups.
 * Move ``/nishome/foo`` to ``/home/users/foo``.
 * ``userdel foo``

[2015-07-09 15:35] piyushk commented on #24
@jack-oquin Every user will need access to the dialout group.

[2015-07-09 15:37] jack-oquin commented on #24
OK, noted above.

[2015-07-09 19:51] jack-oquin commented on #27
Thanks. I couldn't remember that name. :smile:

[2015-07-14 01:18] jack-oquin commented on #27
I think we should add LDAP client software to the robots, too, but without automount.

[2015-07-14 03:24] piyushk commented on #27
+1, though we'll need to make sure that the robots are connected to the wireless prior to login. I think Network Manager in 14.04 supports this.

Just in case the wireless stops working, we should make sure we can login locally to update network manager settings with new wireless user/pass.

[2015-07-14 14:38] jack-oquin commented on #27
Good point. I guess we should define a bwilab local account on every machine.

[2015-07-15 15:36] jack-oquin opened #28 "LDAP: document admin tasks on the BWI wiki"

[2015-07-15 16:59] #24 closed

[2015-07-15 21:40] jack-oquin commented on #28
Some of this is done, now. See:

* http://www.cs.utexas.edu/~larg/bwi/index.php/Software_Installation
* http://www.cs.utexas.edu/~larg/bwi/index.php/Manipulating_users_and_groups

[2015-07-15 21:44] jack-oquin commented on #23
The currently-recommended method of creating a new user is to copy from and existing one. Among other advantages, that approach bypasses this problem.

[2015-07-15 21:46] jack-oquin commented on #26
I reinstalled this machine today.

Now the graphical login screen is not coming up, but the machine can be reached via ssh.

[2015-07-15 22:15] jack-oquin commented on #26
I fixed the lightdm config, and updated the instructions. That made graphical login start working again.

@jsinapov was then able to login using his LDAP account.

Afterwards, we rebooted the machine, and it is no longer on the network, ping returns ``Destination Host Unreachable``.

[2015-07-16 11:32] jack-oquin commented on #27
There are problems, see: #26

[2015-07-16 11:37] jack-oquin commented on #26
Reinstall did not help. Once LDAP was running again, the system would no longer boot.

Hypothesis: there is some system service starting before networking that needs user authorization, and it hangs due to PAM checking with LDAP first.

[2015-07-16 11:56] jack-oquin commented on #26
https://bugs.launchpad.net/ubuntu/+source/libnss-ldap/+bug/1024475

[2015-07-16 20:25] jack-oquin commented on #26
I think the links above point to the problem. Several work-arounds are suggested. Some look better than others. A fresh install will only work around this problem until we configure LDAP again, so we need to get to the bottom of this issue.

@piyushk: I have no time to come in today and fix this, but can probably come Friday. If you have time to work on it this afternoon, I recommend the following

[2015-07-17 15:01] piyushk commented on #26
Thanks for finding that bug report @jack-oquin! I couldn't get to it yesterday. I've got some errands to run today. I will be in for a few hours this afternoon and work on this problem, or I will work on it on the weekend. I'll keep you posted.

[2015-07-17 15:03] jack-oquin commented on #26
I'll plan to come to campus after lunch today.

[2015-07-17 17:21] jack-oquin commented on #26
I tried the experiment (above) on ``kif``, which was exhibiting the same failure as ``nibbler``.

Changing ``/etc/nsswitch.conf`` as in step 4, did bypass the problem, although step 5 failed to resume booting, and I had to reboot via power-on.

[2015-07-17 18:58] jack-oquin commented on #26
Tried several of the suggested options, no luck yet.

Trying ``libnss-ldapd`` in place of ``libnss-ldap``.

[2015-07-17 19:03] jack-oquin commented on #26
That seems to work.

[2015-07-17 20:53] jack-oquin opened #29 "clamps: arduino firmware does not load"
Arduino IDE hangs with messages like:

[code]

@piyushk: we had at least one Arduino in the lab with a broken firmware loader. It should have been labelled, but I am not certain what happened to it.

[2015-07-17 21:29] piyushk commented on #29
@jack-oquin Thanks for letting me know. I'll look into it this weekend.

[2015-07-17 22:07] #26 closed

[2015-07-18 20:33] piyushk commented on #29
@jack-oquin upload worked for me today. I was able to see sonar returns in rviz with `bwi_launch segbot_v2.launch`

[2015-07-19 02:22] jack-oquin commented on #29
Good

[2015-07-19 02:22] #29 closed

[2015-07-19 14:00] piyushk commented on #29
Unfortunately i might have burned the arduino on bender yesterday :(. I
will investigate today.

Piyush
On Jul 18, 2015 9:22 PM, "jack-oquin" <notifications@github.com> wrote:

[2015-07-21 00:42] piyushk commented on #20
I've verified that re-uploading the sketch does nothing. Will attempt replacing arduino/sonars tomorrow.

[2015-07-21 19:51] piyushk commented on #20
@jack-oquin I've been testing for the last 2 hours, and I think we've got a bigger problem - I think the quality of the sonar sensors is the root cause here.

I scavenged every sonar sensor I could find in the lab, and tested across 3 arduinos, 2 sets of cables and our custom shield and all these old sensors. I got some readings in the middle, but after switching to a different set of cables and s

[2015-07-21 21:35] jack-oquin commented on #20
OK.

They did not seem very reliable to me, either.

[2015-07-22 16:53] jack-oquin opened #30 "LDAP: need automatic backups for the database"

[2015-07-22 18:40] jack-oquin commented on #25
LDAP provides its own methods for doing this.

You need to know your LDAP *distinguished name*. For user ``test`` it looks like:  ``cn=test,ou=users,dc=nixons-head,dc=csres,dc=utexas,dc=edu``.

On the command line it would be:
[code]

[2015-07-22 19:04] piyushk commented on #27
Unfortunately, it seems that network manager stores the password in the keyring, so it's not retrieved prior to login. https://bugs.launchpad.net/ubuntu/+source/network-manager/+bug/1158432

I'm pretty sure that connecting to wifi worked on our Precise machines at the login screen. I'll continue investigating.

[2015-07-22 20:21] jack-oquin commented on #28
This will always need further work, but it is reasonably complete for now.

[2015-07-22 20:21] #28 closed

[2015-07-22 20:25] #25 closed

[2015-07-22 20:26] #23 closed

[2015-07-22 20:27] jack-oquin commented on #20
Should we close this issue, or leave it open for testing new devices?

[2015-07-22 22:05] #20 closed

[2015-07-22 22:05] piyushk commented on #20
I'll create a separate issue for new sonar devices once they arrive.

[2015-07-23 16:48] piyushk commented on #27
Before testing the /etc/network/interfaces route, I'm going to see if wicd solves the problem.

[2015-07-23 17:33] piyushk commented on #27
wicd requires all users to be a part of the netdev group by default. I'm gonna create a group locally and add bwilab to it. If wicd works, we'll remove the local group and add it to ldap.

[2015-07-23 17:43] jack-oquin commented on #27
Wicd looks like a good idea. Hope it works.

[2015-07-23 18:57] piyushk commented on #27
There are some issues with wicd as well. The wicd tray icon doesn't show up properly. (http://askubuntu.com/questions/580964/wicd-system-tray-icon-doesnt-show-up) and (https://bugs.launchpad.net/wicd/+bug/761326). Although wicd connected once prior to login, it failed a second time. Since there is no tray icon, it's hard to tell when wicd is connected or not.

There are some workarounds, but they

[2015-07-23 20:00] piyushk commented on #27
I've gotten LDAP to work correctly via wpa_supplicant and /etc/network/interfaces.

I'm documenting the process on the wiki right now on how to setup a robot.

[2015-07-23 22:51] piyushk commented on #27
bender and clamps have been updated to ldap using above mentioned. marvin is the arm robot, and roberto is still on hydro/precise for matteo's experiments.

I think the next thing to test is ldap automount. I'll do that tomorrow morning.

[2015-07-24 14:57] piyushk commented on #27
I'm gonna work on upgrading zapp, and then work on automount.

[2015-07-24 19:20] piyushk commented on #27
automount worked pretty easily, though the method of creating users and setting up machines needs to be updated. I've setup an nfs server on nixons-head again, and autofs-ldap automount directories.

I've also verified that pam_mkhomedir still works with the updated setup, which will be required on the robots.

I'm updating instructions on the wiki right now, and will hard commit all the changes t

[2015-07-24 20:13] piyushk commented on #27
Wiki instructions updated.

[2015-07-25 03:57] piyushk commented on #27
Darn it! The autofs client does automatically start correctly at first boot. I'm gonna investigate this issue tomorrow.

[2015-07-25 15:19] piyushk commented on #27
There are two problems (Both covered in this thread - http://ubuntuforums.org/showthread.php?t=2242635):
 1. autofs starts before network manager gets an IP address, and fails. Proposed solutions:
  - Use a cron job or a post connection trigger to restart autofs once boot is complete.
  - Use ifupdown and /etc/network/interfaces instead of network manager. *I will use this solution since it's less

[2015-07-25 15:27] jack-oquin commented on #27
1. ``/etc/network/interfaces`` seems fine to me, as long as it's documented in agonizing detail.

2. While it would be better only to mount the each user at login, I think we could live with mounting them all, as long as the directory permissions are set correctly.

[2015-07-25 15:31] piyushk commented on #27
@jack-oquin: I agree on both points. After I fix the first problem, I'll run the following test:
 1. Make sure wernstrom is already booted up
 2. Create a new user on nixons-head and create a home directory for user.
 3. Check on wernstrom before and after logging in to see if the home directory is mounted appropriately.

If the above test passes with the current setup, I'm fine letting problem 2

[2015-07-26 02:35] piyushk commented on #27
I've been working remotely to further improve machines, and have just realized that users 'bwi', 'wxie' and 'ggaudioso' exist both on the local system and ldap. I'm a bit afraid of implementing fixes remotely for user 'bwi', so I will investigate this problem in person tomorrow afternoon.

[2015-07-27 15:39] jack-oquin commented on #27
When I created those accounts, I did not realize that local versions already existed, and I forgot to check.

To correct my error:
 * change the UID in LDAP to the original value
 * delete the local user definition
 * move the ``/nishome/username`` directory to ``/home/users``.

[2015-07-27 15:58] piyushk commented on #27
Already done +1 :)

[2015-07-27 21:56] jack-oquin opened #31 "LDAP: use different passwords for admin and the phpLDAPadmin page"
Access to that web page should be fairly lax, while admin should probably not be done by just anyone who knows the generic BWI password.

[2015-07-28 04:06] piyushk commented on #27
I've made the following changes today:
 * Installed nvidia drivers on all machines. nouveau was causing the machines to crash.
 * Disabled attempts by the clients to use authentication when contacting the LDAP server. This was slowing down LDAP requests and NFS automounts.
 * Update all desktops (including zapp) to use automount and LDAP.

Only the two robots clamps and roberto are left, which are

[2015-07-28 16:41] jack-oquin commented on #27
Is the wiki updated to reflect these changes?

I can't tell, because it's "experiencing technical difficulties" right now.

[2015-07-28 16:54] piyushk commented on #27
The wiki's updated. Not sure about the technical difficulty, by the mysql database is administered by the CS admin. The downtime should be temporary.

[2015-07-29 10:02] jack-oquin commented on #27
In the "Manually Configure Network" section of the "Software installation" page, users are told to get this script:

*  http://www.cs.utexas.edu/~larg/bwi/scripts/setup_networking.sh

Since networking is not set up yet, how do they copy that script onto the new machine?

[2015-08-01 10:56] jack-oquin commented on #21
This problem has not recurred since the failing Segway base was retired.

Closing as a hardware problem.

[2015-08-01 10:56] #21 closed

[2015-08-06 19:03] jack-oquin opened #32 "rosinstall: update lists of source repositories"
Once multi_level_map is up-to-date in the ROS package repositories, it should be deleted from indigo.rosinstall.

@piyushk : What should we do about hydro.rosinstall? It probably won't work anymore.

* Delete it?
* Update it to use the hydro_devel branches? They will be rather down-level, compared to the sources on roberto.
* Make another, more recent branch that will likely work? Is that worth th

[2015-08-06 23:52] jack-oquin commented on #31
This is now partly moot, because we no longer use phpLDAPadmin.

But, the issue still remains for the admin account, itself.

[2015-08-07 18:02] jack-oquin commented on #32
At this point, I am inclined to just delete hydro.rosinstall and update the README accordingly.

[2015-08-07 18:17] piyushk commented on #32
Sounds good to me.

Piyush
On Aug 7, 2015 1:02 PM, "jack-oquin" <notifications@github.com> wrote:

[2015-08-07 18:22] jack-oquin commented on #32
OK. I'll wait to make the update until I get back to town. By then the multi_level_map debs should be up-to-date and I can delete that repo from indigo.rosinstall.

[2015-09-09 17:33] jack-oquin opened #33 "bender: /dev/arduino symlink is missing"
Not sure why. The ``/etc/udev/rules.d`` directory has been configured, but something is not working.

[2015-09-16 15:25] jack-oquin opened #34 "clamps: not fully configured"
The LDAP is not fully configured

The wifi network does not connect automatically.

[2015-09-16 16:26] jack-oquin commented on #34
@piyushk restored the network configuration, which had been removed

The rest of LDAP client now works

[2015-09-16 16:26] #34 closed

[2015-09-16 21:53] jack-oquin commented on #30
@piyushk: this is an important step that needs work. I suppose it involves copying one or more files to somewhere that gets backed up automatically by the department.

Will you handle it?

[2015-09-16 22:21] jack-oquin opened #35 "robots need to be configured not to lock the screen"
Unfortunately that is a per-user configuration option, we need a system-wide solution.

Anyone know a clean solution?

[2015-09-16 23:05] jack-oquin commented on #27
I re-wrote the robot laptop install page to do the initial installation using wired ethernet.

Then it creates the wireless configuration manually:

 * http://www.cs.utexas.edu/~larg/bwi/index.php/Setup_a_robot_laptop_from_scratch#Wireless

That makes it clearer what is actually going on.

@piyushk: please review that my translation looks correct.

[2015-09-16 23:14] piyushk opened #36 "Verify lab user/group manipulation instructions + Easier password changes."
I've updated http://www.cs.utexas.edu/~larg/bwi/index.php/Manipulating_users_and_groups with instructions for manipulating users and group. @joq, can you test these when you get some free time?

To make it easier for changing passwords:
 - [x] Change password of bwi template to match fri template.
 - [x] Create and document wrapper around password change script.

[2015-09-17 01:05] jack-oquin commented on #36
Sounds good. I'll try it tomorrow.

[2015-09-17 01:20] jack-oquin commented on #36
I wonder if we should just put everyone in the ``bwi`` primary group?

[2015-09-17 01:36] jack-oquin commented on #36
I cleaned up the PHP LDAP admin sections a little. We probably want to leave that in as an alternative method.

[2015-09-22 20:11] jack-oquin commented on #36
I tried to create the example user account:
[code]
The operation appeared to work, but I was unable to login with it using the documented default password.

The instructions do not make it clear that all users *must* be added to group ``dialout``. Adding that user to the group did work, but I was unable to verify it by logging in.

Deleting the user worked, and removed it from ``auto.home``, but n

[2015-09-22 20:16] jack-oquin commented on #36
After some delay, ``abc`` did disappear from the ``dialout`` group. Those ugly time-to-live problems seems to happen even when using the refresh button the phpLDAPadmin screen.

[2015-09-23 20:38] piyushk commented on #33
Fixed. The USB port that the arduino was plugged in does not work.

[2015-09-23 20:38] #33 closed

[2015-09-23 20:41] jack-oquin commented on #33
Good catch!​

[2015-09-24 19:14] piyushk commented on #36
I've made the following changes to the scripts:
 1. bwiuseradd automatically adds a user to the group dialout.
 2. Changed bwi and fri template passwords to the documented one.
 3. bwiuserdel now deletes a user from all groups.

These changes should fix aforementioned issues you pointed out.

[2015-09-24 19:24] piyushk commented on #36
I've also created a convenience wrapper around the password change script and documented it here: http://www.cs.utexas.edu/~larg/bwi/index.php/Updating_Your_Lab_Password

[2015-09-24 19:32] jack-oquin commented on #36
The scripts work OK now, I was able to create "def", login, verify group membership, and then delete that user.

The user "abc" seems to exist already and has a different password. I assume that's left around from earlier testing.

:+1: LGTM

[2015-09-24 19:32] #36 closed

[2015-10-20 18:04] maxsvetlik opened #37 "Zapp Lab Machine not able to connect to internet"
Zapp.csres is not online. The user bwilab is able to log in, but no other users due to the lack of communication with the LDAP server

[2015-10-20 19:35] jack-oquin commented on #37
I just logged in via ssh with partial success. My id and password were accepted, but my home directory is missing.

[2015-10-21 18:20] jack-oquin commented on #37
There is something peculiar about the network administration. The machine was configured to use wifi. Is there even a wifi device present?

It is automatically connecting to the ethernet, but not via network manager, which leads me to suspect someone has been messing with the network configuration.

Running this seems to clear the problem, but does not answer the question of how the autofs daemon

[2015-10-21 18:23] piyushk commented on #37
All desktops have a wireless interface, but it is not typically used. I
believe current settings allow all users to connect through it. Do you
think it needs to be disabled?

/var/log should contain some entries for when the autofs daemon stopped
working.

On Wed, Oct 21, 2015 at 1:20 PM, jack-oquin <notifications@github.com>
wrote:

[2015-10-21 18:25] jack-oquin commented on #37
I don't know. The only visible problem was that it tried and failed to connect via wifi. Maybe that had nothing to do with the autofs problem.

[2015-10-21 18:26] jack-oquin commented on #37
As it seems to work again, I am closing this issue. Please re-open if it recurs.

[2015-10-28 18:40] maxsvetlik commented on #37
This same issue happened this week on kif. The solution was the same; log in to tty and restart autofs

[2015-10-28 18:45] jack-oquin commented on #37
I was afraid that might happen.

Perhaps there is some way to automatically respawn the daemon.

[2015-10-28 18:54] jack-oquin commented on #37
Possibly relevant links:

* https://bugs.launchpad.net/ubuntu/+source/autofs5/+bug/1007273
* http://askubuntu.com/questions/302514/upstart-job-fails-to-respawn-and-hangs-when-tried-to-stop-restart-it

[2016-02-09 16:54] jack-oquin commented on #30
Generating a backup file using ``slapcat`` looks straightforward:

 * https://supportex.net/blog/2011/02/backup-restore-ldap-database/
 * http://linux.die.net/man/8/slapcat

Running this today produced a mere 38315 bytes of ASCII text:
[code]

Ideally, we should copy that file to some BWI storage space on the main CS systems which are regularly backed up. But, I don't have access to that.

So, mea

[2016-02-10 17:53] pato opened #38 "Add integration testing"
Want to look into the possibility of adding some sort of continuous integration testing. Travis CI is free for educational use, so it might be worth integrating.

At the very least ensure that any merge does not break the compilation of the codebase, eventually we might even want to add some integration/unit tests.

[2016-02-10 18:02] jack-oquin commented on #38
+1

[2016-06-06 20:56] jack-oquin commented on #38
The commit above is a first attempt to add Travis CI to bwi_common.

[2016-06-06 21:39] jack-oquin commented on #38
The initial test (#54) failed, probably because not all packages define a ``roslint`` target.

[2016-06-06 22:04] jack-oquin commented on #38
Apparently, the specific roslint targets don't work, either.

[2016-07-07 16:11] jack-oquin opened #40 "bwi_launch: missing dependency on bwi_logging"
It causes the roslaunch check test to fail.

[2016-07-07 17:25] #32 closed

[2016-07-07 17:37] jack-oquin commented on #40
The ROS build farm is still seeing launch errors, but I think they are due to segbot and other dependent scripts.

[2016-07-07 17:37] #40 closed

[2016-07-08 18:02] jsinapov opened #41 "compilation issue in segway_rmp package"
Upon setting up a workspace, the first catkin_make run produces the following error:

/home/users/jsinapov/catkin_ws/src/segway_rmp/src/segway_rmp_node.cpp:32:44: fatal error: segway_rmp/SegwayStatusStamped.h: No such file or directory
 #include "segway_rmp/SegwayStatusStamped.h"
                                            ^
compilation terminated.

Chances are, the CMakeLists.txt needs to specify

[2016-07-08 18:09] jack-oquin commented on #41
Does running it once or twice again resolve the error? If so, that's almost certainly the problem.

But, it looks like this issue is probably in the [segway_rmp](https://github.com/segwayrmp/segway_rmp) repository.

[2016-08-09 02:33] jack-oquin opened #44 "Kinetic: port code base to ROS Kinetic and Ubuntu Xenial"
This seems to work now. I am encouraging people to use the Kinetic branches for on-going activities.

The primary remaining task at this point is installing Xenial on every robot:

 - [x]	bender
 - [x] calculon (arm robot)
 - [x]	leela
 - [x] pickles
 - [x] roberto

[2016-08-09 21:26] jack-oquin opened #45 "bwi_launch: failing Travis CI tests"
Mainly failing segbot v3 launch checks. The equivalent checks in the segbot repo are currently commented out for similar reasons.

[2016-08-11 01:04] jack-oquin commented on #45
It's still failing, because bwi_virtour is not installing the required launch files and executables.

see: utexas-bwi/bwi_common#70

[2016-08-23 15:57] jack-oquin opened #46 "bwi_launch: launch file missing from install space"
At least ``segbot_v3.launch`` is missing

Check whether others are, too.

[2016-08-23 16:27] jack-oquin commented on #46
The source seems to install it, perhaps we just need a new release?

[2016-08-23 16:29] jack-oquin commented on #46
Looks like a new release *is* needed.

[2016-08-23 17:21] jack-oquin commented on #46
The URL is: http://www.cs.utexas.edu/~larg/bwi_virtour/

[2016-09-06 19:09] jack-oquin commented on #46
Execute permissions are missing for the shell scripts.

[2016-09-14 18:48] #46 closed

[2016-09-15 00:02] jack-oquin commented on #45
Passing now, since the latest release of bwi_common with bwi_virtour fixes.

[2016-09-15 00:02] #45 closed

[2016-09-15 00:02] #38 closed

[2016-09-15 00:03] #22 closed

[2016-11-15 16:48] jack-oquin commented on #44
I'll use this issue for an overview, and open specific issues for the lower-level repositories:

- [ ] bwi_common
- [ ] segbot
- [ ] segbot_arm

[2016-11-15 22:34] jack-oquin commented on #44
There is no intention of migrating from Trusty and Indigo any time soon.

The goal is to fix any problems so our source code works on both distributions. I expect that will be do-able. There is no requirement for the BWI project to support ROS Jade.

[2017-08-16 19:56] jack-oquin commented on #44
There is a OS-level problem with Ubuntu Xenial that is currently preventing us from configuring the wifi network at boot time using ``wpa_supplicant`` via ``/etc/network/interfaces``. Without a fix, it is impossible to log in to the robot using our LDAP identities.

Running wpa_supplicant manually prints this:
[code]

Some sources claim that the problem arose after wpa_supplicant version 2.3.1. Xe

[2017-08-16 21:07] jack-oquin commented on #44
After wrestling with the wpa_supplicant problem for several hours, I turned it on again in ``/etc/network/interfaces``.  Frustratingly, this time it worked.

I don't know why. Perhaps something was fixed when I updated all the software packages. That update did *not* change the version of the ``wpasupplicant`` package.

[2017-09-11 12:51] nitin5 opened #49 "Kinetic: desktop installation of BWI fails"
Greetings
I am trying to install BWI code on my desktop. I do not have access to Segbot and will like to use gazebo simulations. I am interested in Multi_level_map navigation package.
I am getting following errors in following listed instructions

 **$rosdep install --from-paths src --ignore-src --rosdistro $ROS_DISTRO -y
ERROR: the following packages/stacks could not have their rosdep keys resolv

[2017-09-12 14:31] jack-oquin commented on #49
What ROS version are you running? On what Ubuntu operating system?

[2017-09-12 15:59] nitin5 commented on #49
I am using ROS Kinetic on Ubuntu 16.04.

[2017-09-14 19:35] rdelfin commented on #49
Our codebase only supports Ubuntu 14.04 with ROS Indigo (check issue #44). We recommend you downgrade your version of Ubuntu in the meantime while this is resolved.

[2017-09-19 17:40] jack-oquin commented on #49
see also: utexas-bwi/bwi_common#95 and utexas-bwi/segbot#77

[2017-10-23 23:56] jack-oquin commented on #49
Closing this as it is essentially a duplicate of the others linked above.

[2017-10-23 23:56] #49 closed

[2017-12-11 23:19] jack-oquin commented on #44
With the commit above and some other fixes, it should now be possible to build a Kinetic version of the BWI software from source, using the instructions in the BWI [README.md](https://github.com/utexas-bwi/bwi/blob/master/README.md).

[2017-12-16 19:19] jack-oquin commented on #44
Simulation is now working with visit door list.

[2017-12-16 20:11] jack-oquin commented on #41
I believe this is fixed now.

[2017-12-16 20:11] #41 closed

[2017-12-16 20:14] jack-oquin commented on #37
We had a similar problem with Ubuntu 16.04 on nibbler yesterday, and @rdelfin ended up reinstalling it.

[2017-12-20 21:42] shihyunlo opened #50 "rosinstall file update for kinetic"
I experienced the same issue as suggested in commit c37af4c:
https://github.com/utexas-bwi/segway_rmp/commit/c37af4c20fa71af144df65a5bf306de048b5ca9b

We probably should pull the the segway_rmp package from:
https://github.com/utexas-bwi/segway_rmp

[2017-12-22 21:12] jack-oquin commented on #50
OK with me.

[2017-12-22 21:37] jack-oquin commented on #50
Note that @rdelfin submitted a pull request (segwayrmp/segway_rmp#33) to update the main repository.

[2017-12-23 22:43] jack-oquin commented on #50
The update was merged into the ``segwayrmp`` repo today, so no rosinstall change is needed.

[2017-12-23 22:43] #50 closed

[2017-12-29 16:03] jack-oquin commented on #44
The urgency of this project is higher now, due to the pending upgrade of the HSR project from Indigo to Kinetic.

Some useful side-effects are that both gazebo and clingo seem faster in this release.

[2018-01-24 23:37] jack-oquin opened #51 "Kinetic: rename segbot joq/kinetic branch to kinetic, matching the others"

[2018-01-26 03:10] nickswalker opened #52 "Bring segbot_arm packages into the main repositories"
Bringing these packages in has a few benefits:

* Simplifies the usage of the arm robot. No special workspace-creation procedures
* Sharing previously duplicated code will make future migrations, bug fixes easier
* Better integration will make moving the arm to an updated RMP base easier in the future

The cons include more packages in a default BWI workspace, but as @jack-oquin has highlighted, t

[2018-01-26 03:18] jack-oquin commented on #52
As Nick said, this seems like a good idea to me.

[2018-01-26 03:21] jack-oquin commented on #52
I'd like to get our Kinetic branches in good shape to share **bwi_common** with the RoboCup@Home team.

[2018-01-26 03:26] shihyunlo commented on #52
Would segbot_arm launch file remain separate from segbot_v3/v4? If so, it
sounds great to me; if not, we might need to test out the performance of
regular tasks (such as visit_door_list), to make sure both navigation and
kr_execution are not much slowed down.

2018-01-25 21:21 GMT-06:00 jack-oquin <notifications@github.com>:

[2018-01-26 03:32] nickswalker commented on #52
The launch files will be in the same package now (bwi_launch), but they will remain separate. There should be no change at run time for any non-armed robot.

[2018-01-26 03:34] shihyunlo commented on #52
Sounds great, I am happy with it.

2018-01-25 21:32 GMT-06:00 Nick Walker <notifications@github.com>:

[2018-01-26 06:15] nickswalker commented on #52
This is done.

segbot_arm_perception was easy to promote into bwi_common (nice win for RoboCup), but segbot_arm_tasks is stuck separate from bwi_tasks because of segbot_arm_manipulation. We need a better abstraction over basic manipulation capabilities.

[2018-01-26 16:07] jack-oquin commented on #52
Our current launch scripts have evolved into a bit of a hairball over the years. Fixing that is clearly outside the scope of this issue.

I have some ideas how to make them much more modular, and may open a separate issue for that.

[2018-01-26 16:21] jack-oquin commented on #52
Note that due to new packages and dependencies, people will probably want to check out new workspaces from scratch.

[2018-01-26 16:26] jack-oquin commented on #52
I am getting an unresolved dependency:
[code]

[2018-01-26 17:08] jack-oquin commented on #52
That problem is in our copy of the **kinova-ros** repo. Putting CATKIN_IGNORE in the **kinova_arm_moveit_demo** package there works around it temporarily.

[2018-01-26 18:12] nickswalker commented on #52
It seems that there isn't a kinetic release of that package yet. I don't know that we have every referenced that demo, so although I am somewhat uncomfortable with the practice, I think it may be fine to commit the ignore file and let the kinova folks fix it whenever they get around to it.

[2018-01-26 19:26] jack-oquin commented on #52
I cherry-picked 59e78f16bd06e7197b9419e2d31fd92d963d5163 into master, because the generic BWI install instructions use that branch.

[2018-01-26 19:34] jack-oquin commented on #52
I agree about the CATKIN_IGNORE hack, but went ahead to avoid messing up other people's work flow.

[2018-01-26 20:40] #51 closed

[2018-01-26 20:43] jack-oquin commented on #52
WIth the CATKIN_IGNORE I can download, build and run some basic BWI navigation tests.

[2018-01-26 20:43] #52 closed

[2018-01-26 22:49] jack-oquin commented on #52
xref: utexas-bwi/kinova-ros#3

[2018-01-26 22:59] jack-oquin commented on #44
There has been much more testing, and things seem to be working reasonably well.

At this point, I am encouraging everyone to do their work on Xenial and Kinetic, so we can find and fix any other problems that may have crept in during the migration.

[2018-01-27 22:13] #27 closed

[2018-01-28 00:25] jack-oquin commented on #44
I just created ``indigo`` branches for **bwi**, **segbot**, and **bwi_common**, and updated the rosinstall files to check them out for Indigo platforms. That is in anticipation of switching ``master`` to Kinetic some day soon.

[2018-01-31 17:46] jack-oquin opened #53 "Travis CI: fix failures"
The solution will probably be similar to what was done for utexas-bwi/bwi_common#102

[2018-01-31 21:58] jack-oquin commented on #53
There's no point in working on this until the utexas-bwi/segbot#98 problems are solved.

[2018-01-31 23:08] jack-oquin commented on #53
Since the Indigo test works for **segbot**, I'm trying something similar here, too.

I'll wait on Kinetic until I figure out what is going on with the **segbot** timeout.

[2018-02-01 00:56] jack-oquin commented on #53
Indigo works here, too.

[2018-02-02 20:15] jack-oquin opened #54 "Kinetic: create our own Debian package archive"
This has become more useful with the ``kinetic`` branch, because it has several significant dependencies that we can't release to the general ROS package repository.

The build time has gotten high for the segbot_v2 laptops, and there are problems running Travis CI (#53, utexas-bwi/segbot#98) that *might* be load-related. Some of that can be addressed by using catkin tools to whitelist or blacklis

[2018-02-03 15:06] jack-oquin commented on #44
Most, but not all, of the changes in the ``kinetic`` branch could be back-ported to ``indigo``, if needed. I doubt that would be worth the effort, since we are now able to keep moving forward with Kinetic.

[2018-02-05 16:31] jack-oquin commented on #54
Some possibly useful references:

 * https://answers.ros.org/question/192419/how-to-setup-bloom-to-generate-a-local-deb-outside-of-rosorg-buildfarm/
 * https://answers.ros.org/question/173804/generate-deb-from-ros-package/
 * https://wiki.debian.org/BuildingAPackage
 * https://answers.ros.org/question/67345/build-debian-package-locally/?answer=67373#post-id-67373
 * https://help.ubuntu.com/communi

[2018-02-05 17:59] jack-oquin commented on #54
After reading the links above, my initial approach is to experiment with [checkinstall](https://wiki.debian.org/CheckInstall), which looks like the minimal path to creating Debian packages from catkin or CMake source packages.

At some point, running our own custom ROS buildfarm instance may make sense, but that seems like overkill for our current needs. Similarly, bloom is a wonderful tools, but

[2018-02-05 18:17] rdelfin commented on #54
Just as a sidenote, I've been using CPack (https://cmake.org/Wiki/CMake:Packaging_With_CPack) with a regular CMake project quite successfully. If properly set up, you can use a launchpad PPA as a build farm. I haven't given it a try with ROS packages though. I can give it a try on some packages I have to see how well it works.

[2018-02-05 18:38] jack-oquin commented on #54
Some possibly useful references for creating our own Personal Package Archive (PPA):

* https://askubuntu.com/questions/71510/how-do-i-create-a-ppa
* http://mirrorer.alioth.debian.org/
* https://packagecloud.io/docs
* https://blog.packagecloud.io/eng/2017/03/23/create-debian-repository-reprepro/
* http://davehall.com.au/blog/dave/2010/02/06/howto-setup-private-package-repository-reprepro-nginx
* h

[2018-02-05 18:44] jack-oquin commented on #54
@rdelfin: that sounds like a good idea. If you want a CMake package to start with, try our fork of [libsegwayrmp](https://github.com/utexas-bwi/libsegwayrmp). If that works, we can do [segway_rmp](https://github.com/utexas-bwi/segway_rmp) next, a catkin package that depends on that library.

[2018-02-05 18:45] rdelfin commented on #54
I'll give it a try and let you know how it goes

[2018-02-05 18:49] jack-oquin commented on #54
[packpack](https://github.com/packpack/packpack) looks like an interesting option, too. It users docker and is optimized for use with github, Travis CI, and PackageCloud.

[2018-02-05 20:38] jack-oquin commented on #54
A sketch of a way to build a package that will run in ``/opt/utexas-bwi/kinetic``:
[code]
That creates an install image in ``/tmp/opt/utexas-bwi/kinetic`` that is configured to run when installed in the desired location.

[2018-02-05 20:49] rdelfin commented on #54
I currently have a sample of what to do to get cpack working on utexas-bwi/libsegwayrmp#1. I'll be trying packpack and then move onto segway_rmp

[2018-02-05 22:08] jack-oquin commented on #54
That looks great, Ricardo. I'm going to merge it into a separate **cpack** branch for now.

[2018-02-06 02:14] jack-oquin commented on #54
Checkinstall and packpack are not looking that good to me, so far. Please take a look and form your own opinion.

[2018-02-06 02:17] jack-oquin commented on #54
The current Travis configuration is failing: https://travis-ci.org/utexas-bwi/libsegwayrmp/builds/337782989

[2018-02-06 04:17] rdelfin commented on #54
I can't seem to replicate the build issue on my local machine. Looking into it

[2018-02-06 06:08] rdelfin commented on #54
Regarding checkinstall I agree. Checkinstall seems like it requires more setup than necessary. `packpack` might work. If this works, it looks like it could be worth it to use, just because it integrates well. The associated pull request is: utexas-bwi/libsegwayrmp#2

[2018-02-06 16:48] jack-oquin commented on #54
You're right, the packpack approach *does* look good.

Maybe there's a way to symlink the CHANGELOG.rst and LICENSE files, instead of copying them. There are bloom modules that automate creating the debian directory. Once we get this working, we can look into making it easier to convert a package.

[2018-02-06 16:57] rdelfin commented on #54
I think the license is doable, since the format is practically identical, however the Changelog looks like it's a very different format (from what I understand it only contains the current version's Changelog as well as the target distro). Maybe a script that generates one from the other?

[2018-02-06 17:02] jack-oquin commented on #54
Yes, bloom has tools to build the Debian-format change log from the ROS one. But, let's not worry about that for now.

[2018-02-06 22:18] jack-oquin commented on #54
The original Travis test no longer works on Kinetic.

[2018-02-07 19:39] jack-oquin commented on #54
The root cause of the Travis failure for **libsegwayrmp** seems to be due to copying a header file to a different location in the src tree. I suspect those directories may be read-only in the industrial_ci setup.

Unfortunately, the old libsegwayrmp Travis CI config does not work for Kinetic.

[2018-02-07 19:44] jack-oquin commented on #54
My first attempt to build a **libsegwayrmp** Debian package on my development system failed.

Docker errors:
[code]
Docker problems are hard to debug. :smile:

[2018-02-14 15:31] rdelfin opened #55 "Location of the parrot drone packages?"
I can't seem to find the code we used to work with the Parrot AR drones. Where is that code located?

[2018-02-15 02:14] jack-oquin opened #56 "Need more modular roslaunch file hierarchy"
What we have today does work, but it's a rat's nest to modify and maintain.

Proposed approach:
* create specific packages containing roslaunch scripts and parameters for each major robot component
* each will have the minimum dependencies, completeness verified by roslaunch-check unit tests
* each different segbot base or major component will have its own launch package
* common subsystems will a

[2018-02-15 02:16] jack-oquin commented on #56
One difficulty will be teasing apart various common subcomponents that are mixed into single package. Fortunately, that does not have to be done all at once.

[2018-02-15 04:02] jack-oquin commented on #56
I am hoping this work will somehow make use of the [ROS capabilities package](http://wiki.ros.org/capabilities) eventually.

[2018-02-16 00:49] jack-oquin commented on #56
Some common packages have their own launch scripts, such as: bwi_logging, bwi_virtour, bwi_kr_execution, and bwi_logical_translator. That helps minimize the dependencies and the number of launch packages. It's a good approach for low-level common packages.

[2018-02-23 20:31] jack-oquin commented on #56
It looks like the various top-level launch packages for running or simulating segbots should go in the **segbot** repository, rather than **bwi_launch**. Effectively, **bwi_launch** depends on our entire code base, which is not what we usually want for building and testing.

[2018-02-23 21:25] jack-oquin opened #57 "Configure lab machines to use UT time servers"

[2018-02-23 21:43] jack-oquin commented on #57
Possibly relevant: https://wikis.utexas.edu/display/eceit/Linux+-+RHEL+-+Ubuntu#Linux-RHEL-Ubuntu-ntpserver

[2018-02-23 22:51] jack-oquin commented on #57
As an experiment I undated the Xenial partition on zapp. In ``/etc/systemd/timesyncd.conf`` define this:
[code]
Then run:
[code]
That seemed to work. The time now agrees with my phone.

[2018-02-23 22:56] jack-oquin commented on #57
Unfortunately, nixons-head is still running Trusty, which does not have the newer systemd-timesyncd service. It'll need a different solution.

[2018-02-24 20:34] pato commented on #55
They’re not anywhere in GitHub unfortunately. As far as I remember they were on one of the laptops. And I think we made a backup to a black usb external hard drive. But unfortunately I don’t remember where that would even be or which laptop it would be on.

Sent from my iPhone

[2018-02-24 20:36] jack-oquin commented on #57
Should the robots be configured to use the UT time servers, too?

[2018-02-24 20:43] jack-oquin commented on #54
Right now, the highest priority for packaging is **agile_grasp**. It takes a long time to build, and seems to be causing Travis failures due to timeout. See: utexas-bwi/bwi_common#106.

[2018-02-24 20:45] jack-oquin commented on #54
Another advantage to using bloom is that it knows how to use rosdep to convert system dependencies into Debian packages for the desired target platform.

[2018-02-26 16:05] jack-oquin commented on #54
This looks promising: https://gist.github.com/awesomebytes/196eab972a94dd8fcdd69adfe3bd1152

[2018-03-02 16:37] jack-oquin commented on #53
There is not much point in running Travis in this repository. It would have to build tons of packages, just to run a roslaunch check on some of the **bwi_launch** scripts. Since those scripts will probably be deprecated at the end of the semester in favor of more modular launch packages in the segbot repository  (#56, utexas-bwi/segbot#105), that does not seem worthwhile.

[2018-03-02 17:13] jack-oquin commented on #56
With the completion of this project, I think **bwi_launch** will be *deprecated*, and perhaps deleted.

[2018-03-02 17:15] #44 closed

[2018-03-03 20:11] jack-oquin commented on #54
Since **agile_grasp** is causing problems with build time and probably with Travis CI, it has the highest packaging priority.

* I created a 0.8.0 release in the kinetic branch of [our agile_grasp fork](https://github.com/utexas-bwi/agile_grasp.git) using ``catkin_prepare_release``.
* I forgot to update the maintainer and package description, so I'll probably redo that at some point.
* Then, I use

[2018-03-03 21:50] jack-oquin commented on #54
With git-pbuilder:
[code]

[2018-03-05 21:38] jack-oquin commented on #54
I tried to build, but docker does not resolve the ROS package dependencies:
[code]

[2018-03-05 21:50] jack-oquin commented on #54
[code]

[2018-03-05 22:03] jack-oquin commented on #54
After that, the build runs for a long time, but eventually fails with a compile error:
[code]

[2018-03-06 17:05] jack-oquin commented on #54
I suspect the code has been migrated to OpenCV3, but the package dependency still refers to ``libopencv-dev``. On Xenial, that resolves to version 2.4.9.1+dfsg-1.5ubuntu1.

It compiles cleanly on my development system, but that may be because it already has opencv3 installed. Since we can't run Travis on this package, the problem would not have been caught, I guess.

Assuming I am right about this

[2018-03-06 17:27] jack-oquin commented on #54
I hand-patched the release repository to use ``opencv3``, then retried the package build. It got past the OpenCV failure, but got an error here:
[code]
That looks like a completely different problem, so the previous fix looks good. I'll commit that update to our **agile_grasp** fork.

[2018-03-06 17:33] jack-oquin commented on #54
``CloudSized.h`` is a generated message header, so there's a missing ``add_dependencies()``.

[2018-03-07 03:35] #55 closed

[2018-03-08 01:45] jack-oquin commented on #54
I am having trouble figuring out where the generated .deb files go.

[2018-03-10 17:36] jack-oquin commented on #54
It turns out that the ``git-buildpackage`` approach produces package files in the parent directory, just like ``fakeroot debian/rules binary`` does.

[2018-03-10 17:38] jack-oquin commented on #54
The next step is creating a Personal Package Archive. To start with, I'm trying to use [LaunchPad](https://launchpad.net).

[2018-08-22 17:53] arctiqjacob commented on #23
This can be fixed by editing: /usr/share/phpldapadmin/templates/creation/posixAccount.xml and at line 75, changing `<value id="/bin/sh">Bash</value>` to `<value id="/bin/bash">Bash</value>`

[2020-03-17 20:00] maxsvetlik commented on #35
I've looked into this before, never finding an adequate solution.

A workaround might be to just disable monitor sleep through `gsettings` e.g.

     gsettings set org.gnome.desktop.session idle-delay 0

which is persistent but acts (I believe) on a user-basis, but we can have this as part of a robot-codebase README. Will test this on the robots.

[2020-03-17 20:18] maxsvetlik opened #59 "Melodic Codebase Upgrade"
Since this is the BWI highlevel repository, I'm going to organize the status of updating the entire codebase to Melodic and Ubuntu 18.04

A large portion of the update has already taken place. Some packages with broader community interest have already been released into Melodic and are available as binaries (see [eband_local_planner](https://github.com/utexas-bwi/eband_local_planner/issues/28#even

[2020-03-17 20:32] maxsvetlik commented on #59
The codebase has been compiled tested on a V4 and a V2: both respond to base `/cmd_vel` commands and autonomous way point commands through `move_base`. The `bwi_kr_execution` node segfaults on both. This segfault has been resolved as of [4bc7a56](https://github.com/utexas-bwi/bwi_common/commit/4bc7a5600df914491123314a3cfc31d7d0aed0b3) on the `bwi_common` repository. I can now successfully run the

[2020-03-18 15:05] maxsvetlik commented on #59
`freenect_stack` binaries have been released and the rosdep updated. See: [rosdistro PR](https://github.com/ros/rosdistro/pull/24162), [freenect_stack PR](https://github.com/ros-drivers/freenect_stack/pull/51).

[2020-03-18 16:43] maxsvetlik commented on #59
TESTING

**Simulation** - note that `melodic` uses Gazebo 9
- [ ] segbot_v2 bringup (manual teleop, movebase)
   - [ ] manual teleop
   - [ ] autonomous waypoints (move_base)
- [ ] segbot_v2 arm bringup
   - [ ] manual teleop
   - [ ] autonomous waypoints (move_base)
   - [ ] simulated MoveIt! planning
   - [ ] simulated MoveIt! grasping (if feasible)
- [ ] segbot_v3 bringup
   - [ ] manual teleop

[2020-03-18 20:31] maxsvetlik commented on #59
Lots of issues popping up when bringing up `simulation_v2.arm.launch` across Gazebo, MoveIt! and depreciation of tags in URDF/Xacro

[2020-03-18 21:09] maxsvetlik commented on #59
Severe issues resolved through `2940f11` in `bwi_common`, `ee5bff9` in `segbot` and `1b27504` in `bwi_launch`, all on their `melodic-devel` branches. Unfortunately all commits depend on one another.
This allows the V2 with arm to successfully run in Gazebo with MoveIt! trajectory planning as well., hough 2 non-fatal errors still pop up.

Note: changes were made to `bwi_moveit_utils` to get the nod

[2020-03-19 15:17] maxsvetlik commented on #59
`simulation_v3` can be brought up successfully but the Twist movement is inverted, preventing the local planner from correctly directing it towards goals. Investigating.

[2020-03-19 18:01] maxsvetlik commented on #59
`multi_level_map_server` and associated packages are now working as expected for both single and multi agent simulations as of `1c5aae1` in `segbot`.

[2020-06-01 17:26] maxsvetlik commented on #59
The following repositories have `melodic` related PRs open:

1. [segbot](https://github.com/utexas-bwi/segbot/pull/115)
2. [segway_rmp](https://github.com/utexas-bwi/segway_rmp/pull/2)
3. [bwi_common](https://github.com/utexas-bwi/bwi_common/pull/118)

Other repositories that we use also have melodic changes but are forks and don't utilize the same methodology for keeping `master` current. So for

[2020-06-09 21:40] maxsvetlik commented on #59
The `segbot`, `segway_rmp` and `bwi_common` repositories now target ROS Melodic in the master branch.

[2020-06-09 21:47] maxsvetlik commented on #59
Last step: correcting this repository. See #63.

[2020-06-09 22:09] maxsvetlik commented on #59
#63 merged- kinetic and melodic versions of the bwi codebase should each be able to be installed and compiled according to this repository's README.

Primary upgrade complete! Any residual issues should be opened in their respective repository.

[2020-06-09 22:09] #59 closed

[2021-05-05 01:37] yding25 opened #66 "error: ‘getTabletopScene’ is not a member of ‘bwi_perception’"
Hi,

When I install BWIbot V4 and run the command catkin build j6, it always prints some errors.

**error: ‘getTabletopScene’ is not a member of ‘bwi_perception’**

Could you tell me how to fix this error?

Thanks